---
import SectionTitle from "../components/SectionTitle.astro";
import TopNavbar from "../components/TopNavbar.astro";
import AuthorDetails from "../components/AuthorDetails.astro";
import ContentLayout from "../components/ContentLayout.astro";

const navigation = Astro.props.navigation;
const authors = Astro.props.authors;
---

<ContentLayout>
  <!-- Navigation -->
  <TopNavbar slot="header" items={navigation} />

  <!-- Main -->
  <SectionTitle text="Autorzy" class="p-[30px]" />
  <div class="flex flex-col gap-[30px] p-[30px] component-border-bottom">
    {authors.map((author: any) => (
      <AuthorDetails
        name={author.name}
        bio={author.bio}
        avatar_image_id={author.avatar_image_id}
        path={author.path}
        numberOfPosts={author.numberOfPosts}
      />
    ))}
  </div>
</ContentLayout>
