---
import AsideLinks from "../components/AsideLinks.astro";
import AsideSpotify from "../components/AsideSpotify.astro";
import AuthorDetails from "../components/AuthorDetails.astro";
import AuthorPosts from "../components/AuthorPosts.astro";
import ContentLayout from "../components/ContentLayout.astro";
import SectionTitle from "../components/SectionTitle.astro";
import TopNavbar from "../components/TopNavbar.astro";

const navigation = Astro.props.navigation;
const author = Astro.props.author;
const posts = Astro.props.posts;
const links = Astro.props.links;
const songs = Astro.props.songs;
---

<ContentLayout>
  <!-- Navigation -->
  <TopNavbar slot="header" items={navigation} />

  <!-- Main -->
  <SectionTitle text={`Autor ${author.name}`} class="p-[30px]" />
  <AuthorDetails
    className="p-[30px] component-border-bottom"
    name={author.name}
    bio={author.bio}
    numberOfPosts={posts.length}
    avatar_image_id={author.avatar_image_id}
  />

  <SectionTitle text="Artykuły" class="p-[30px]" />
  <AuthorPosts posts={posts} />

  <!-- Right sidebar -->
  <div slot="rightSidebar">
    {
      links.length > 0 && (
        <>
          <SectionTitle text="Linki zewnętrzne" class="p-[30px]" />
          <AsideLinks links={links} />
        </>
      )
    }

    <SectionTitle text="Spotify na żywo" class="p-[30px]" />
    <div class="p-[30px] component-border-bottom">
      <AsideSpotify songs={songs} />
    </div>
  </div>
</ContentLayout>
