---
import PostContent from "../components/PostContent.astro";
import ContentNav from "../components/ContentNav.astro";
import PostHeader from "../components/PostHeader.astro";
import PostAuthor from "../components/PostAuthor.astro";
import TopNavbar from "../components/TopNavbar.astro";
import ContentLayout from "../components/ContentLayout.astro";

import { slugify } from "../plugins/markdown-it/anchor";

const navigation = Astro.props.navigation;
const post = Astro.props.post;
const postAuthor = Astro.props.postAuthor;

function extractMarkdownHeadersWithIds(markdownText: any) {
  const headers = markdownText.match(/^#{1,6} .+$/gm) ?? [];

  return headers.map((header: string) => {
    const title = header.replace(/^#{1,6} /, "");

    return {
      id: slugify(title),
      title: title,
    };
  });
}

const contentItems = extractMarkdownHeadersWithIds(post?.content ?? "");
---

<ContentLayout>
  <!-- Navigation -->
  <TopNavbar slot="header" items={navigation} />

  <div>
    {post?.id && (
      <PostHeader
        coverPicture={post.cover_picture}
        postAuthor={postAuthor}
        createdAt={post.created_at}
        name={post.title}
        rating={4.5}
        numberOfComments={post.comments_count}
        teaser={post.teaser}
      />
    )}
  </div>
  {contentItems.length > 0 && (
    <ContentNav items={contentItems} />
  )}
  <div class="border-b-[1px] border-[#e5e5e5]">
    {post?.id && <PostContent content={post?.content ?? ""} />}
  </div>
</ContentLayout>
